section.section.collection
  h2.collection__title.title.--section Our Jingle Masquerade collection includes
  p.collection__description.text.--lead
    | Jingle Masquerade is  a first round of game with
    span.accent 1000
    | unique limited digital artworks
    | featuring 5 largest verified NFT collections:
  ul.collection__list
    li.collection__item
      img.collection__item-image(src="./images/collection-solanambs.jpg", srcset="./images/collection-solanambs-2x.jpg 2x, ./images/collection-solanambs-3x.jpg 3x" alt="")
      p.collection__item-name.text.--lead @solanaMBS
    li.collection__item
      img.collection__item-image(src="./images/collection-peskypenguins.jpg", srcset="./images/collection-peskypenguins-2x.jpg 2x, ./images/collection-peskypenguins-3x.jpg 3x" alt="")
      p.collection__item-name.text.--lead @peskypenguins
    li.collection__item
      img.collection__item-image(src="./images/collection-thedogecapital.jpg", srcset="./images/collection-thedogecapital-2x.jpg 2x, ./images/collection-thedogecapital-3x.jpg 3x" alt="")
      p.collection__item-name.text.--lead @thedogecapital
    li.collection__item
      img.collection__item-image(src="./images/collection-thugbirdz.jpg", srcset="./images/collection-thugbirdz-2x.jpg 2x, ./images/collection-thugbirdz-3x.jpg 3x" alt="")
      p.collection__item-name.text.--lead @thugbirdz
    li.collection__item
      img.collection__item-image(src="./images/collection-solanadonkebs.jpg", srcset="./images/collection-solanadonkebs-2x.jpg 2x, ./images/collection-solanadonkebs-3x.jpg 3x" alt="")
      p.collection__item-name.text.--lead @solanadonkebs