section.section.roadmap
  img.roadmap__spot.spot(src="./images/decorations/spot.svg" alt="Spot")
  img.roadmap__spot.spot(src="./images/decorations/spot.svg" alt="Spot")
  h2.roadmap__title.title.--section ROADMAP
  ul.roadmap__steps
    li.roadmap__step.--active
      .roadmap__step-block.roadmap__step-head
        .roadmap__step-name.text.--head
          span STAGE 1 - Advent CaLENDAR, AIRDROP
      .roadmap__step-block.roadmap__step-body
        .roadmap__step-date.text.--date 11-25th of December
        p.roadmap__step-description.text
          | Every day, we open new tips for NFT investmenT. NFT AIRDROP FOR DAO of @peskypenguins, 
          | @SolanaMBS, @thugbirdz, @thedogecapital @SolanaDonkeBS 
    li.roadmap__step
      .roadmap__step-block.roadmap__step-head
        .roadmap__step-name.text.--head
          span STAGE 2 -  PUBLIC DROP and LOTTERY, allocation between clans
      .roadmap__step-block.roadmap__step-body
        .roadmap__step-date.text.--date 20th of December
        p.roadmap__step-description.text
          | Christmas HUB is supplying 1000 artworks for 0.25 Sol on 20 dEC 2021. During the mint 
          | every holder gets christmas gift and gets a guaranteed  place in game.
    li.roadmap__step
      .roadmap__step-block.roadmap__step-head
        .roadmap__step-name.text.--head
          span STAGE 3 -  PRIZE GIVING, Sweeping the Floor
      .roadmap__step-block.roadmap__step-body
        .roadmap__step-date.text.--date till the END  of DECEMBER  
        p.roadmap__step-description.text
          | After the PUBLIC drop all gifts will be sent to the holders and giveaway winners. 
          | Share of the primary drop proceeds will be allocated into special reserves fund, which 
          | will be weekly used to buy out the lowest priced tokens. This will ensure higher floor 
          | price and boost of the secondary market liquidity.
    li.roadmap__step
      .roadmap__step-block.roadmap__step-head
        .roadmap__step-name.text.--head
          span STAGE 4 -  Preparing to the Clan fight
      .roadmap__step-block.roadmap__step-body
        .roadmap__step-date.text.--date January  
        p.roadmap__step-description.text
          | Discussion of Game terms, Preparing collection, planning of game levels. communication 
          | with teams and identifying the final participants
    li.roadmap__step
      .roadmap__step-block.roadmap__step-head
        .roadmap__step-name.text.--head
          span STAGE 5 - First in history NFT clan fight with  500 Sol prize fund
      .roadmap__step-block.roadmap__step-body
        .roadmap__step-date.text.--date February   
        p.roadmap__step-description.text
          | CLANS FIGHT DROP and distribution of prizes to the winning team
    li.roadmap__step
      .roadmap__step-block.roadmap__step-head
        .roadmap__step-name.text.--head
          span STAGE 6 - EASTER HUB 
      .roadmap__step-block.roadmap__step-body
        .roadmap__step-date.text.--date MARCH
        p.roadmap__step-description.text
          | Preparing of eaSter limited edition; exclusive airdrop for @christmashubnft holders
    li.roadmap__step
      .roadmap__step-block.roadmap__step-head
        .roadmap__step-name.text.--head
          span STAGE 7 - EASTER DROP
      .roadmap__step-block.roadmap__step-body
        .roadmap__step-date.text.--date APRIL
        p.roadmap__step-description.text
          | easter limited collection DROP and postcrossing