section.section.hero
  .hero__content
    h1.hero__title.title Christmas hub
    .hero__info
      .hero__subtitle.title.--subtitle
        span.accent THE FIRST
        | CHRISTMAS LOTTERY
      p.hero__description.text.--lead
        | With guaranteed place in the Clans Fight Game with 500 Sol prize in February
      ul.hero__extra 
        li.hero__extra-item.title.--extra 2oTh December
        li.hero__extra-item.title.--extra 0.25 SOL
      a.hero__button.button(href="#0") MINT
      .hero__socials 
        +socials()
  img.hero__bg(src="./images/hero-bg.png", srcset="./images/hero-bg-2x.png 2x, ./images/hero-bg-3x.png 3x", alt="Картинка")
