.hero {
  &__content {
    text-align: center;
  }
  &__info {
    max-width: 500px;
    margin: 0 auto;
  }
  &__subtitle {
    margin-bottom: 12px;
  }
  &__extra {
    margin-top: 25px;
    &-item {
      & + & {
        margin-top: 12px;
      }
    }
  }
  &__button {
    margin-top: 30px;
  }
  &__socials {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  &__bg {
    display: block;
    margin-top: 30px;
  }
}