section.section.faq
  img.faq__spot.spot(src="./images/decorations/spot.svg" alt="Spot")
  h2.faq__title.title.--section faq
  ul.faq__list
    li.faq__item
      .faq__item-head
        span.faq__item-name.text.--head who is behind christmashubnft?
        span.faq__item-trigger(title="Open")
      .faq__item-body
        .faq__item-content 
          p.faq__item-info.text
            | @SantaClaus is Maria the creator of Christmas Hub. 
            | There are seven of us who are Santa's Helpers: Anna - promo adviser 
            | and Arsh - tech leader, as well as one designer, website developer, 
            | two admins and moderator
    li.faq__item
      .faq__item-head
        span.faq__item-name.text.--head how many traits do the jingle masquerade artworks have?
        span.faq__item-trigger(title="Open")
      .faq__item-body
        .faq__item-content 
          p.faq__item-info.text
            | We have 5 clans with 28 unique traits for each. Overall, 140 traits
    li.faq__item
      .faq__item-head
        span.faq__item-name.text.--head When and how does christmashubnft go live?
        span.faq__item-trigger(title="Open")
      .faq__item-body
        .faq__item-content 
          p.faq__item-info.text
            | 1000 Christmashub NFTs 0,25 SOL per NFT  20 December 2021, 18:00 UTC 
    li.faq__item
      .faq__item-head
        span.faq__item-name.text.--head what is christmashubnft mission?
        span.faq__item-trigger(title="Open")
      .faq__item-body
        .faq__item-content 
          p.faq__item-info.text
            | Christmas is a time of magic, a time to get out and put on your best costumes, 
            | and of course a time to give gifts.
          p.faq__item-info.text
            | Our goal is to put your festive mood on, dress you up digitally with a new cool 
            | avatar and to give you some gifts from Digital Santa himself! Every NFT has a gift, 
            | so none will be left out and will get a gift in our lottery. But this is not an end! 
            | Every NFT holder automatically becomes a member of one of the 5 clans and can fight for 
            | 500 SOL in February with his teammates! 
    li.faq__item
      .faq__item-head
        span.faq__item-name.text.--head how can i join?
        span.faq__item-trigger(title="Open")
      .faq__item-body
        .faq__item-content 
          p.faq__item-info.text
            | CHECK OUT OUR 
            a(class="link" href="https://twitter.com/ChristmashubNFT" target="_blank") TWITTER
            |  AND 
            a(class="link" href="https://discord.gg/5cTVJYNGfG" target="_blank") DISCORD
