section.section.team
  h2.team__title.title.--section TEAM
  .team__content
    .team__info
      .team__hey.title.--block
        | hey
        img.team__hey-icon(src="./images/hey.svg" alt="Hey icon")
      .team__about
        p.team__description.text
          | my name is Maria. I’m creator of Christmas HUB. I’m glad that you are interested in my project.
        p.team__description.text
          | Some facts about me:
        ul.team__list.list.text
          li.team__list-item I live in germany
          li.team__list-item originally from russia
          li.team__list-item in my daily life I work in digital marketing
          li.team__list-item my fav activities are cycling and surfing
          li.team__list-item my fav food is italian
          li.team__list-item i dream about moving to portugal
        p.team__description.text
          | i love art, especially pixel art, that’s why i decided to make a xmas collection with my favourite characters
      .team__socials 
        +socials()
    .team__picture
      img.team__picture-lines(src="./images/lines.svg" alt="Линия")
      .team__picture-block
        img.team__picture-image(src="./images/Maria-The-Creator.png", srcset="./images/Maria-The-Creator-2x.png 2x, ./images/Maria-The-Creator-3x.png 3x", alt="Maria, creator of Christmas HUB")
  ul.team__members
    li.team__member
      .team__member-icon
        img.team__member-image(src="./images/member-01.jpg", srcset="./images/member-01-2x.jpg 2x, ./images/member-01-3x.jpg 3x", alt="Аватарка")
      .team__member-info 
        .team__member-name.text.--lead Anna 
        p.team__member-about.text
         | BEST FRIEND, SANTA HELPER AND MARKETING ADVISER CREATOR OF SOULMATES NFT
    li.team__member
      .team__member-icon
        img.team__member-image(src="./images/member-02.jpg", srcset="./images/member-02-2x.jpg 2x, ./images/member-02-3x.jpg 3x", alt="Аватарка")
      .team__member-info 
        .team__member-name.text.--lead ARSH 
        p.team__member-about.text
         | SOFTWARE DEVELOPER, IT ENThusiast
