// Colors
$white: #FFF;
$black: #1D1D1D;
$black: #1D1D1D;
$gray: #ECECEC;
$grayLight: #E5E5E5;

$yellow: #FDD400;
$yellowLight: #FDD400;
$orange: #FF9800;
$red: #C80A0A;
$blue: #4B80C3;
$aqua: #8BB6E0;
$aquaLight: #8AB6DF;
$green: #2D7E4E;
$greenLight: #009A5A;
$brown: #7D3C36;
$beige: #D7AB84;
$beigeLight: #DAD3B7;
$skin: #F7B595;
$pink: #F97075;
$purple: #79257A;

// Texts
$text_yellow: #FFE07D;
$text_green: #009A5A;

// Decore
$cloud: #C4D9F3;
$line: #8E8E8E;
$square: #5EB1FF;
$border: #394F44;

// BG
$bg_gray: #F3F3F3;

// Shadows
$shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.25);