mixin socials()
  ul.socials 
    li.socials__item
      a.socials__link(href="#0")
        img.socials__icon.--discord(src="./images/discord.png", srcset="./images/discord-2x.png 2x, ./images/discord-3x.png 3x", alt="Иконка")
    li.socials__item
      a.socials__link(href="#0")
        img.socials__icon(src="./images/twitter.png", srcset="./images/twitter-2x.png 2x, ./images/twitter-3x.png 3x", alt="Иконка")