.socials {
  display: flex;
  align-items: center;
  &__item {
    &:not(:last-of-type) {
      margin-right: 25px;
    }
  }
  &__icon {
    width: 24px;
    &.--discord {
      width: 32px;
    }
  }
}