<svg class="none" xmlns="http://www.w3.org/2000/svg">
  
  <symbol id="dot" viewBox="0 0 24 24">
    <path d="M24 7.82611H22.4348V4.69566H20.8695V3.13045H19.3043V1.5652H16.1739V0H7.82611V1.5652H4.69566V3.13045H3.13045V4.69566H1.5652V7.82611H0V16.1739H1.5652V19.3043H3.13045V20.8695H4.69566V22.4348H7.82611V24H16.1739V22.4348H19.3043V20.8695H20.8695V19.3043H22.4348V16.1739H24V7.82611Z" fill="#FFDA44"/>
    <path d="M20.8708 11.997H19.3055V13.5622H15.1317V11.997H13.5664V7.82306H15.1317V6.25781H19.3055V7.82306H20.8708V11.997Z" fill="#FF9811"/>
    <path d="M16.1739 16.6902V15.125H13.5652V16.6902H12V19.2989H13.5652V20.8641H16.1739V19.2989H17.7391V16.6902H16.1739Z" fill="#FF9811"/>
    <path d="M4.69802 3.13208H3.13281V4.69728H4.69802V3.13208Z" fill="black"/>
    <path d="M4.69802 19.3047H3.13281V20.8699H4.69802V19.3047Z" fill="black"/>
    <path d="M7.82577 1.56641H4.69531V3.13161H7.82577V1.56641Z" fill="black"/>
    <path d="M16.172 0H7.82422V1.5652H16.172V0Z" fill="black"/>
    <path d="M16.172 22.4336H7.82422V23.9988H16.172V22.4336Z" fill="black"/>
    <path d="M19.3062 1.56641H16.1758V3.13161H19.3062V1.56641Z" fill="black"/>
    <path d="M22.4324 4.69531H20.8672V7.82577H22.4324V4.69531Z" fill="black"/>
    <path d="M23.9988 7.82422H22.4336V16.172H23.9988V7.82422Z" fill="black"/>
    <path d="M22.4324 16.1758H20.8672V19.3062H22.4324V16.1758Z" fill="black"/>
    <path d="M3.13161 4.69531H1.56641V7.82577H3.13161V4.69531Z" fill="black"/>
    <path d="M1.5652 7.82422H0V16.172H1.5652V7.82422Z" fill="black"/>
    <path d="M3.13161 16.1758H1.56641V19.3062H3.13161V16.1758Z" fill="black"/>
    <path d="M7.82577 20.8672H4.69531V22.4324H7.82577V20.8672Z" fill="black"/>
    <path d="M19.3062 20.8672H16.1758V22.4324H19.3062V20.8672Z" fill="black"/>
    <path d="M20.8699 3.13281H19.3047V4.69802H20.8699V3.13281Z" fill="black"/>
    <path d="M20.8699 19.3047H19.3047V20.8699H20.8699V19.3047Z" fill="black"/>
    <path d="M16.176 3.13208H7.82812V4.69728H16.176V3.13208Z" fill="white"/>
    <path d="M4.69922 4.69775V6.26296V7.82821H6.26443V6.26296H7.82968V4.69775H6.26443H4.69922Z" fill="white"/>
    <path d="M4.69802 7.82739H3.13281V11.4796H4.69802V7.82739Z" fill="white"/>
    <path d="M4.69802 13.0464H3.13281V14.6116H4.69802V13.0464Z" fill="white"/>
  </symbol>
  
</svg>