section.section.lottery
  h2.lottery__title.title.--section Our Christmas lottery includes
  ul.lottery__info
    li.lottery__list.list
      .lottery__item 100 free NFT airdrops
      .lottery__item 1 Top REAL NFT artwork
    li.lottery__list.list
      .lottery__item 150 NFT with 0,1 and 0,2 Solana coins
      .lottery__item 100% seconds market return for the rest NFTs!
  img.lottery__bg(src="./images/lottery-bg.png", srcset="./images/lottery-bg-2x.png 2x, ./images/lottery-bg-3x.png 3x", alt="Картинка")