section.section.lottery
  img.lottery__spot.spot(src="./images/decorations/spot.svg" alt="Spot")
  .lottery__squares
    img.lottery__square.square(src="./images/decorations/squares-03.svg" alt="squares")
    img.lottery__square.square(src="./images/decorations/squares-05.svg" alt="squares")
  h2.lottery__title.title.--section Our Christmas lottery includes
  .lottery__info
    img.lottery__info-hat(src="./images/decorations/hat.svg", alt="Christmas Hat")
    img.lottery__info-cloud(src="./images/decorations/cloud.svg", alt="Cloud")
    .lottery__list.list
      .lottery__item 100 free NFT airdrops
      .lottery__item 1 Top REAL NFT artwork
    .lottery__list.list
      .lottery__item 150 NFT with 0,1 and 0,2 Solana coins
      .lottery__item 100% seconds market return for the rest NFTs!
  .lottery__bg
    .lottery__bg-decoration
      .lottery__bg-decoration-block
        img.lottery__bg-decoration-image(src="./images/decorations/lottery-image.png", srcset="./images/decorations/lottery-image-2x.png 2x, ./images/decorations/lottery-image-3x.png 3x", alt="Picture")
        img.lottery__bg-decoration-cloud(src="./images/decorations/cloud-wide.svg" alt="Cloud")
    .lottery__bg-decoration
      .lottery__bg-decoration-block
      img.lottery__bg-decoration-image(src="./images/decorations/lottery-image.png", srcset="./images/decorations/lottery-image-2x.png 2x, ./images/decorations/lottery-image-3x.png 3x", alt="Picture")
      img.lottery__bg-decoration-cloud(src="./images/decorations/cloud-wide.svg" alt="Cloud")
    .lottery__bg-circle
      img.lottery__bg-circle-ghost(src="./images/frame-1.png", alt="Picture")
      .lottery__bg-circle-image(src="./images/frame-1.png", alt="Picture")