section.section.lottery
  h2.lottery__title.title.--section Our Christmas lottery includes
  ul.lottery__info
    li.lottery__list.list
      .lottery__item 100 free NFT airdrops
      .lottery__item 1 Top REAL NFT artwork
    li.lottery__list.list
      .lottery__item 150 NFT with 0,1 and 0,2 Solana coins
      .lottery__item 100% seconds market return for the rest NFTs!
  //- .lottery__bg