section.section.member
  .member__content
    .member__info
      h2.member__title.title.--section
        | during the mint you get our nft and automatically become a clan member
      p.member__description.text.--lead
        | together with your team you can fight for the price 500 SOL in february
    img.member__picture(src="./images/member.gif", alt="Гифка")