.member {
  background: url('./images/section-pattern.svg') 50% 50%/cover no-repeat $grayLight;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 9vw 6vw 7vw;
    @media (max-width: 650px) {
      flex-direction: column;
    }
    @media (max-width: 480px) {
      padding: 15vw 6vw;
    }
  }
  &__info {
    max-width: 570px;
    margin-right: 8vw;
    @media (max-width: 650px) {
      max-width: 75vw;
      margin-right: unset;
      margin-bottom: 40px;
    }
  }
  &__title {
    margin-bottom: 12px;
    &.title.--section {
      text-align: left;
    }
  }
  &__picture {
    max-width: 35vw;
    @media (max-width: 650px) {
      max-width: 75vw;
    }
  }
}