section.section.member.--wide
  img.member__square.square(src="./images/decorations/squares-05.svg" alt="squares")
  img.member__square.square(src="./images/decorations/squares-02.svg" alt="squares")
  .member__content
    .member__info
      h2.member__title.title.--section
        img.member__title-decoration(src="./images/decorations/hat.svg", alt="Christmas Hat")
        | during the mint you get our nft and automatically become a&nbsp;clan member
      p.member__description.text.--lead
        | together with your team you can fight for the price 500 SOL in february
    .member__picture
      img.member__picture-cloud(src="./images/decorations/cloud-big.svg", alt="Cloud")
      img.member__picture-first(src="./images/member.gif", alt="Gif")
      img.member__picture-second(src="./images/member.gif", alt="Gif")
      img.member__picture-third(src="./images/member.gif", alt="Gif")
  .member__decorations
    img.member__hero(src="./images/decorations/hero-01.png", srcset="./images/decorations/hero-01-2x.png 2x, ./images/decorations/hero-01-3x.png 3x" alt="Decoration")
    img.member__hero(src="./images/decorations/hero-02.png", srcset="./images/decorations/hero-02-2x.png 2x, ./images/decorations/hero-02-3x.png 3x" alt="Decoration")
    img.member__hero(src="./images/decorations/hero-03.png", srcset="./images/decorations/hero-03-2x.png 2x, ./images/decorations/hero-03-3x.png 3x" alt="Decoration")
    img.member__hero(src="./images/decorations/hero-04.png", srcset="./images/decorations/hero-04-2x.png 2x, ./images/decorations/hero-04-3x.png 3x" alt="Decoration")
    img.member__hero.--opacity.--icons(src="./images/decorations/flame.png", srcset="./images/decorations/flame-2x.png 2x, ./images/decorations/flame-3x.png 3x" alt="Decoration")
    img.member__hero.--opacity.--icons(src="./images/decorations/arrow.png", srcset="./images/decorations/arrow-2x.png 2x, ./images/decorations/arrow-3x.png 3x" alt="Decoration")